<%- include("partials/header") %>

<header class="jumbotron">
    <h1>About YourPath</h1>
    <p>Find Inspiration from People all over the World!</p>
</header>

<h2>Your way to personal growth with the right tools that are tailored to your needs.</h2>

    <p>
        We live in an information society in which easy access to a lot of information is taken for granted and everyone can contribute to the collective knowledge on a global platform.
        This development has disadvantages when it comes to finding information you need or trying to educate yourself further.
        For example, have you ever spent hours researching a topic until finding the right information? Have you ever been annoyed at the flood of information or contradicting statements?
        Have you ever tried to educate yourself in something new and found possible options too expensive or not easy to operate?
        YourPath is your answer to these problems. Simplified, it is a platform which allows you to educate yourself further according to your needs and wants. 
    </p>

    <a href="https://github.com/RobinWie/YourPath">Visit YourPath's Repository here</a>

<%- include("partials/footer") %>