<%- include("partials/header") %>

<header class="jumbotron">
    <h1>Welcome to YourPath</h1>
    <p>Find Inspiration from People all over the Wolrd!</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/search">Search Now!</a>
    </p>
</header>

<%- include("partials/footer") %>